{% extends 'frontend/layout.html.twig' %}
{% block content %} 
<article class="main-content">

  <header>
    <h1>Responsive Form Example</h1>
    <small>
                <p>
                    This example demonstrates how to create a simple form layout that can responsively expand and
                    stack depending on the width of the page.
                </p>
                <p>&nbsp;</p>
            </small>

  </header>

  
  
  <div class="form-group">
    <label>First Name</label>
    <input value="First Name" class="input-control" />

    <label class="right-inline">Last Name</label>
    <input value="Last Name" class="input-control" />
  </div>

  <div class="form-group">
    <label>Username</label>
    <input value="Username" class="input-control" />
  </div>

  <div class="form-group">
    <label>Password</label>
    <input value="password" class="input-control" />
  </div>

  <div class="form-group">
    <label>City,State,Zip</label>
    <input value="Walnut Creek" class="input-control" placeholder="City" style="flex: 6" />    
    <input value="CA" class="input-control" placeholder="State" style="flex:1" />    
    <input value="94152" class="input-control" placeholder="Postal Code" style="flex:2" />
  </div>

  <div class="form-group">
    <label>&nbsp;</label>
    <button>Save</button>
    <button>Cancel</button>

  </div>

</article>
{% endblock %}
